{% extends 'base.html.twig' %}
{% block body %}
    <div class="slider">
       <div class="container">
           <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
               <div class="carousel-inner">
                   <div class="carousel-item active">
                       <img src="{{ asset('assets/img/carousel/1.jpg') }}" class="d-block w-100" alt="coucher du soleil">
                       <div class="carousel-caption d-none d-md-block">
                           <h5></h5>
                           <p></p>
                       </div>
                   </div>
                   <div class="carousel-item">
                       <img src="{{ asset('assets/img/carousel/2.jpg') }}" class="d-block w-100" alt="palmier">
                   </div>
                   <div class="carousel-item">
                       <img src="{{ asset('assets/img/carousel/3.jpg') }}" class="d-block w-100" alt="tournesol">
                   </div>
               </div>
               <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                   <span class="visually-hidden">Previous</span>
               </button>
               <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                   <span class="carousel-control-next-icon" aria-hidden="true"></span>
                   <span class="visually-hidden">Next</span>
               </button>
           </div>
       </div>
   </div>
    <div class="season">
        <div class="container">
            <div class="container-fluid pt-5 pb-5" id="season-section">
                <div class="row text-center saison">
                    <h1>La saison 2022 - 2023</h1>
                </div>
                <div class="row justify-content-evenly">
                    <div class="card col-8 col-lg-2 col-md-4 col-sm-6" id="season-card">
                        <img class="card-img-top" src="{{ asset('assets/img/spectacles/1.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-outline-danger">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card col-8 col-lg-2 col-md-4 col-sm-6" id="season-card">
                        <img class="card-img-top" src="{{ asset('assets/img/spectacles/2.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-outline-danger">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card col-8 col-lg-2 col-md-4 col-sm-6" id="season-card" >
                        <img class="card-img-top" src="{{ asset('assets/img/spectacles/3.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-outline-danger">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card col-8 col-lg-2 col-md-4 col-sm-6" id="season-card">
                        <img class="card-img-top" src="{{ asset('assets/img/spectacles/4.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-outline-danger">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card col-8 col-lg-2 col-md-4 col-sm-6" id="season-card">
                        <img class="card-img-top" src="{{ asset('assets/img/spectacles/5.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-outline-danger">Go somewhere</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container news">
        <div class="container-fluid pt-5 pb-5" id="news-row">
            <div class="row text-center saison">
                <h1 class="news-main-title">Actualités</h1>
            </div>
            <div class="row justify-content-evenly">
                <div class="card" style="width: 20rem; padding: 0; height: 400px;" id="news-card">
                    <img class="card-img-top" src="{{ asset('assets/img/news/news1.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        <button type="button" class="btn btn-danger">Lire l'article</button>
                    </div>
                </div>
                <div class="card" style="width: 20rem; padding: 0; height: 400px;" id="news-card">
                    <img class="card-img-top" src="{{ asset('assets/img/news/news2.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        <button type="button" class="btn btn-danger">Lire l'article</button>
                    </div>
                </div>
                <div class="card" style="width: 20rem; padding: 0; height: 400px;" id="news-card">
                    <img class="card-img-top" src="{{ asset('assets/img/news/news3.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        <button type="button" class="btn btn-danger">Lire l'article</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center justify-content-center">

        <h1 class="mt-5" id="moments-title">Des moments inoubliables</h1>

        <hr class="mt-2 mb-5">

        <div class="row text-center text-lg-start">

            <div class="col-lg-3 col-md-4 col-6 memory">
                <a class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail memory-img" src="{{ asset('assets/img/gallery/1.jpg') }}"
                         alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 memory">
                <a  class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail memory-img" src="{{ asset('assets/img/gallery/2.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 memory">
                <a  class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail memory-img" src="{{ asset('assets/img/gallery/3.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 memory">
                <a  class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail memory-img" src="{{ asset('assets/img/gallery/4.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 memory">
                <a  class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail memory-img" src="{{ asset('assets/img/gallery/5.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 memory">
                <a class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail memory-img" src="{{ asset('assets/img/gallery/6.jpg') }}"
                         alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 memory">
                <a class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail memory-img" src="{{ asset('assets/img/gallery/7.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 memory">
                <a class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail memory-img" src="{{ asset('assets/img/gallery/8.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 memory">
                <a class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail memory-img" src="{{ asset('assets/img/gallery/9.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 memory" style="object-fit: cover">
                <a class="d-block mb-4 h-100" style="object-fit: cover">
                    <img class="img-fluid img-thumbnail memory-img" src="{{ asset('assets/img/gallery/10.jpg') }}" alt=""
                         style="object-fit: cover">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 memory">
                <a class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail memory-img" src="{{ asset('assets/img/gallery/12.jpg') }}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 memory">
                <a class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail memory-img" src="{{ asset('assets/img/gallery/11.jpg') }}" alt="">
                </a>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="container quotes">
            <div class="row">
                    <div class="container py-5 h-100">
                        <div class="row d-flex align-items-center justify-content-evenly h-100">
                            <div class="col col-lg-4 mb-4 mb-lg-0">
                                <figure class="text-center bg-white py-5 px-4 shadow-2" style="border-radius: .75rem;">
                                    <i class="far fa-gem fa-lg mb-4" style="color: #f9a169;"></i>
                                    <blockquote class="blockquote pb-2">
                                        <p>
                                            <i class="fas fa-angle-double-left" style="color: #f9a169;"></i>
                                            <span class="lead font-italic">
                                                 " La vie est pièce de théâtre : ce qui compte, ce n'est pas qu'elle
                                                dure longtemps, mais qu'elle soit bien jouée. "
                                            </span>
                                            <i class="fas fa-angle-double-right" style="color: #f9a169;"></i>
                                        </p>
                                    </blockquote>
                                </figure>
                            </div>
                            <div class="col col-lg-4">
                                <figure class="text-center bg-white py-5 px-4 shadow-2" style="border-radius: .75rem;">
                                    <i class="far fa-gem fa-lg mb-4" style="color: #f36f63;"></i>
                                    <blockquote class="blockquote pb-2">
                                        <p>
                                            <i class="fas fa-angle-double-left" style="color: #f36f63;"></i>
                                            <span class="lead font-italic">Be less curious about people and more curious about ideas.</span>
                                            <i class="fas fa-angle-double-right" style="color: #f36f63;"></i>
                                        </p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer mb-0 font-italic">
                                        Marie Skłodowska Curie
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>



{% endblock %}