{% block navbar %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center" style="margin-bottom: 0; border-radius: 0">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning text-center" style="margin-bottom: 0; border-radius: 0">
            {{ message }}
        </div>
    {% endfor %}
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <h1 class="logo">Le Petit Théâtre de la Ruelle</h1>
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('app_spectacles') }}">Spectacles</a></li>
                <li><a href="{{ path('app_news') }}">Actualités</a></li>
                <li><a href="{{ path('app_contactus') }}">Contact</a></li>
                {% if not app.user %}
                    <li><a href="{{ path('app_login') }}" type="button" class="btn btn-outline-light btn-sm"><i class="icofont-sign-in"></i> S'identifier</a></li>
                    <li><a href="{{path('app_register')}}" class="btn btn-outline-light btn-sm"><i class="icofont-user-alt-4"></i> S'enregistrer</a></li>
                {% else %}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ asset('assets/img/user/' ~ app.user.imageName) }}" alt=""
                                 class="nav-img-avatar">
                            {{ app.user.firstName }} {{ app.user.lastName }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ path('app_profile') }}">Mon profil</a>
                            <a class="dropdown-item" href="#">Éditer profil</a>
                            <a class="dropdown-item" href="#">Changer mon mot de passe</a>
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('app_admin') }}" style="color: green;"><b>Administration</b></a>
                            {% endif %}
                            <a class="dropdown-item" href="{{path('app_logout')}}" style="color:
                               #810202;"><b>Déconnexion</b></a>
                        </div>
                    </div>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}
