{% block navbar %}
    <section class="header">
        <div class="container-fluid p-0">
            <div class="row nav-bar justify-content-between text-center">
                <div class="col-12 col-xl-4 col-lg-4 align-middle mb-xl-2">
                    <h2 class="nav-title">
                        <img src="{{ asset('assets/img/icons/masks2.png') }}" alt="" style="width: 6%">
                        Le Petit Théatre de la Ruelle
                    </h2>
                </div>
                <div class="col-12 col-xl-4 col-lg-4 nav-menu mt-xl-4 mt-lg-4">
                    <ul>
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="{{ path('app_spectacles') }}">Spectacles</a></li>
                        <li><a href="{{ path('app_news') }}">News</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Réservation</a></li>
                    </ul>
                </div>
                <div class="col-12 col-xl-4 col-lg-4 nav-right-items mt-xl-4 mt-lg-4 my-1">
                        {% if not app.user %}
                            <a href="{{ path('app_login') }}" type="button" class="btn btn-dark btn-sm"><i class="icofont-sign-in"></i> S'identifier</a>
                            <a href="{{path('app_register')}}" class="btn btn-dark btn-sm"><i class="icofont-user-alt-4"></i> S'enregistrer</a>
                        {% else %}
                            <div class="dropdown show">
                                <a class="btn btn-outline-light dropdown-toggle align-content-center align-items-center justify-content-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ asset('assets/img/user/' ~ app.user.imageName) }}" alt="" class="img-avatar mx-1">
                                    <p class="dropdown-account-username">{{ app.user.firstName }} {{ app.user.lastName }}</p>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
