{% block navbar %}
    <section class="header">
        <div class="container-fluid p-0">
            <div class="row nav-bar justify-content-between text-center">
                <div class="col-12 col-xl-4 col-lg-4 align-middle mb-xl-2">
                    <h2 class="nav-title">
                        <img src="{{ asset('assets/img/icons/masks2.png') }}" alt="" style="width: 6%">
                        Le Petit Théatre de la Ruelle
                    </h2>
                </div>
                <div class="col-12 col-xl-4 col-lg-4 nav-menu mt-xl-4 mt-lg-4">
                    <ul>
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="{{ path('app_spectacles') }}">Spectacles</a></li>
                        <li><a href="{{ path('app_news') }}">News</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Réservation</a></li>
                    </ul>
                </div>
                <div class="col-12 col-xl-4 col-lg-4 nav-right-items mt-xl-4 mt-lg-4">
                    <ul>
                        {% if not app.user %}
                            <a href="{{ path('app_login') }}"><i class="icofont-login"></i> Connexion</a>
                            <a href="{{ path('app_register') }}"><i class="icofont-ui-note"> Inscription</i></a>
                        {% else %}
                            <div class="dropdown" style="padding-right: 25px;">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="{{asset('assets/img/user/') ~ app.user.imageName }}" class="img-avatar">&nbsp;&nbsp;{{ app.user.firstName }} {{ app.user.lastName }}
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="">Voir profil</a></li>
                                    <li><a class="dropdown-item" href="">Modifier profil</a></li>
                                    <li><a class="dropdown-item" href="#">Modifier password</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="" class="dropdown-item">Administration</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    {% endif %}
                                    <li><a href="{{path('app_logout')}}" class="dropdown-item">Se déconnecter</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
