{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/spectacle.css') }}">
{% endblock %}
{% block body %}
    <div class="container-fluid season">
        <div class="row justify-content-center text-center spectacles-content">
            <h1 class="display-1 main-title">{{ spectacle.titre }}</h1>
            <h4 class="main-sub-title"><em>par {{ spectacle.author }}</em></h4>
            <h3 class="main-sub-title"><em>{{ spectacle.period }}</em></h3>
            <img src="{{ asset('assets/img/spectacles/' ~ spectacle.imageName) }}" class="col-10 col-lg-8 spectacle-head-image">
        </div>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="spectacle-content col-10">
                    <a href=""><button class="btn btn-danger btn-lg"><i class="icofont-ticket"></i> Acheter un
                            billet</button></a>
                    <h2 class="mt-5">Résumé</h2>
                    <p class="spectacle-resume mb-5">{{ spectacle.description }}</p>
                    <h2 class="">Comédiens</h2>
                    <div class="row justify-content-center text-center">
                        {% for actor in spectacle.actors %}
                            <div class="col-4 col-lg-2 col-md-2 col-sm-3 col-xl-2 mb-5">
                                <img src="{{ asset('assets/img/actors/' ~ actor.imageName) }}"
                                     class="spectacle-actor-profile-img"><br>
                                <p class="spectacle-actor-profile-name">
                                    {{ actor.firstName }}
                                    {{ actor.lastName }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                    <h2>Commentaires</h2>
                    <p>Aucun commentaire pour le moment!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
