{# NavBar #}
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Le Petit Théatre de la Ruelle</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('home') }}" target="_blank" >
                        <button class="btn btn-outline-light">Retourner au site web</button>
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                
            </ul>
            <div class="d-flex m-3 admin-links">
                <img src="{{ asset('assets/img/user/' ~ app.user.imageName) }}" alt="">
                <div class="col-12 text-center justify-content-center">
                    <span class="text-light
                    text-center">
                {{ app.user.firstName }} {{ app.user.lastName }}
                </span> <br>
                    <a href="{{ path('app_logout') }}" ><span class="admin-logout-link text-center">Se déconnecter</span></a>
                </div>
            </div>
        </div>
    </div>
</nav>

{# Affichage du message flash #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}