{% extends 'admin/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/users.css') }}">
{% endblock %}
{% block body %}
    <div class="col-12 col-sm-12 col-lg-10 col-xl-10">
        <h2 class="my-5 text-center">Gestion des utilisateurs</h2>
        <p class="text-center" style="color: red;">
            <i class="icofont-warning-alt"></i> Attention! <i class="icofont-warning-alt"></i> <br>
            La saison 2022 - 2023 est déjà insérée et complète. Il n'est donc pas utile de modifier ou supprimer des spectacles ou des comédiens pour le moment!
            <br>Une suppression peut engendrer des répercussions sur l'intégrité des données du site !
        </p>
        <table id="table-admin" class="table table-hover">
            <thead>
            <tr>
                <th>Photo</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Date d'inscription</th>
                <th>Dernière modification</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><img src="{{ asset('assets/img/user/') ~ user.imageName }}"  class="admin-user-img"></td>
                    <td>{{ user.firstName }} {{ user.lastName}} </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.createdAt|date('d/m/Y h:m') }}</td>
                    <td>{{ user.updatedAt|date('d/m/Y h:m') }}</td>
                    <td>
                        {% for role in user.roles %}
                            {% if role == 'ROLE_SUPER_ADMIN' %}
                                Super Administrateur
                                {% elseif role == 'ROLE_ADMIN' %}
                                Administrateur
                                {% elseif role == 'ROLE_USER' %}
                                Utilisateur
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="" class="btn btn-success"><i class="icofont-ui-edit"></i></a>&nbsp;
                        <a href="{{ path('app_admin_delete_user', {'id': user.id}) }}" class="btn btn-danger">
                            <i class="icofont-ui-delete"></i>
                        </a>
                            {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                            {% else %}

                            {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}