{% extends 'admin/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/actors.css') }}">
{% endblock %}
{% block body %}
    <div class="col-12 col-sm-12 col-lg-10 col-xl-10">
        <h2 class="my-5 text-center">Gestion des comédiens</h2>
        <p class="text-center" style="color: red;">
            <i class="icofont-warning-alt"></i> Attention! <i class="icofont-warning-alt"></i> <br>
            La saison 2022 - 2023 est déjà insérée et complète. Il n'est donc pas utile de modifier ou supprimer des spectacles ou des comédiens pour le moment!
            <br>Une suppression peut engendrer des répercussions sur l'intégrité des données du site !
        </p>
        <table id="table-admin" class="table table-hover">
            <thead>
            <tr>
                <th>Image</th>
                <th>Nom</th>
                <th>Biographie</th>
                <th>Actif</th>
                <th>Spectacles</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for actor in actors %}
                <tr>
                    <td><img src="{{ asset('assets/img/actors/') ~ actor.imageName }}"  class="admin-spectacle-img"></td>
                    <td>{{ actor.firstName }} {{ actor.lastName }}</td>
                    <td>{{ actor.biography[:20] ~ '...' }}</td>
                    <td>{{ actor.active }}</td>
                    <td>
                        <ul>
                            {% for spectacle in actor.spectacles %}
                                <li>
                                    {{ spectacle.titre }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path('app_admin_edit_actor', {id: actor.id}) }}" class="btn btn-outline-light"
                           style="color: black"><i
                                    class="icofont-ui-edit"></i></a>&nbsp;
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}