{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}
{% block title %}Votre profil{% endblock %}

{% block body %}
    <main class="container-fluid profile">
        <div class="container profile-container">
            <div class="row">
                <div class="col-12 profile-section">
                    <h1 class="text-center mt-3 mb-4">Votre profil</h1>
                    <hr>
                    <div class="row mb-5">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 profile-picture
                        justify-content-center text-center mt-4">
                            <img src="assets/img/user/{{ app.user.imageName }}" alt="{{ app.user.firstName }} {{ app
                            .user.lastName }} " class="img-profile">
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 profile-data">
                            <div class="col-12">
                                <div class="row justify-content-center mt-5 mb-5">
                                    <h3 class="text-center">Informations</h3>
                                    <div class="col-8 mt-5">
                                        <h4 class="mb-3"><b>Prénom: &nbsp;&nbsp;</b> <i>{{ app.user.firstName }}</i></h4>
                                        <h4 class="mb-3"><b>Nom: &nbsp;&nbsp;</b> <i>{{ app.user.lastName }}</i></h4>
                                        <h4 class="mb-3"><b>Email: &nbsp;&nbsp;</b> <i>{{ app.user.email }}</i></h4>
                                        <h4 class="mb-3"><b>Date d'inscription: &nbsp;&nbsp;</b> <i>{{ app.user.createdAt|date('d/m/Y') }}</i></h4>
                                        <h4 class="mb-3"><b>Role: &nbsp;&nbsp;</b>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <i>Super Administrateur</i>
                                            {% elseif is_granted('ROLE_ADMIN') %}
                                                <i>Administrateur</i>
                                            {% elseif is_granted('ROLE_USER') %}
                                                <i>Utilisateur standard</i>
                                            {% endif %}
                                        </h4>
                                        <a href="{{ path('app_edit_profile') }}"><button class="btn btn-outline-light">Modifier mes
                                                informations</button></a>
                                        <a href="#"><button class="btn btn-outline-light">Changer mon mot de passe</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
